@import url('https://db.onlinewebfonts.com/c/ab7546c976eeaf64ef57c6a39628c127?family=Quasimoda-SemiBold');
@import "tailwindcss";


:root {
  --dark: hsl(0, 0%, 9%);
  --light: #ffffff;

  --primary: var(--dark);
  --secondary: var(--light);
  --accent: oklch(68.5% 0.169 237.323);
  --secondaryAccent: oklch(76.9% 0.188 70.08);

  /* For theme toggle */
  &.light {
    --primary: var(--light);
    --secondary: var(--dark);  
  }


}

* {
  --rdp-accent-color: #0369a1;
  --rdp-selected-border: #0369a1;
  --rdp-today-color: black;
}


/* Prefers light mode and not toggled */
@media (prefers-color-scheme: light) {
  :root:not(.dark) {
    --primary: var(--light);
    --secondary: var(--dark);
  }
}

@theme app {
  /* Colours */
  /* Primary */
  --color-primary-500: var(--primary);

  /* Secondary */
  --color-secondary-500: var(--secondary);

  /* Accent */
  --color-accent: var(--accent);

  /* Secondary Accent */
  --color-accenttwo: var(--secondaryAccent);

  /* Spacings */
  --spacing-4xs: 0.25rem;
  --spacing-3xs: 0.5rem;
  --spacing-2xs: 0.75rem;
  --spacing-xs: 1rem;
  --spacing-s: 1.25rem;
  --spacing-m: 1.75rem;
  --spacing-l: 2.5rem;
  --spacing-xl: 3.75rem;
  --spacing-2xl: 6.25rem;
  --spacing-3xl: 10rem;
  --spacing-4xl: 15rem;
  
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: 'Quasmodia', sans-serif;
}